<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <!-- Linha 7 importante para aplicar a propiedade css @media -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Cadastro</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/cadastro.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <link rel="fuctions" href="/js/cadastroController.js">

</head>

<body>

    <div id="page-cadastro">

        <header>

            <img src="/assets/images/logo.png" alt="Logomarca">

            <a href="index.html">
                <span></span> Voltar para home
            </a>
        </header>
        <form action="paginaacao" method="post" name="dados" onSubmit="return enviardados();">
            <h1>Cadastre-se aqui</h1>
            <fieldset>
                <legend>
                    <h2>Informe seus dados</h2>
                </legend>
                <div class="field">
                    <label for="user">Nome de Usuário</label>
                    <input type="text" name="user">
                </div>
                <div class="field-group">
                    <div class="field">
                        <label for="telefone">Telefone</label>
                        <input type="tel" name="telefone">
                    </div>
                    <div class="field">
                        <label for="sexo">Genêro</label>
                        <select name="sexo">
              <option value="">Selecione um genêro</option>
            </select>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field">
                        <label for="cpf">CPF</label>
                        <input type="text" name="cpf">
                    </div>
                    <div class="field">
                        <label for="rg">RG</label>
                        <input type="text" name="rg">
                    </div>
                </div>
                <div class="field-group">
                    <div class="field">
                        <label for="email">E-mail</label>
                        <input type="email" name="email">
                    </div>
                    <div class="field">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha">
                    </div>
                </div>
            </fieldset>
            <div class="footer">
                <button type="button" class="botaoGerente" onclick="validarG()">Novo Gerente</button>
            </div>
            <div class="footer">
                <button type="submit" class="botaoFuncionario" onclick="validarF()">Novo Funcionário</button>
            </div>
        </form>
    </div>
</body>
</html>