<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <!-- Linha 7 importante para aplicar a propiedade css @media -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/responsive.css">

</head>

<body>

    <div id="page-home">

        <div class="content">

            <main>

                <img src="" alt="Logomarca">
                <h2>Faça login na GreenTech</h2>

                <label for="user">Usuário</label>
                <input type="text" name="user"> <br>

                <label for="password">Senha</label>
                <input type="password" name="password">

                <button>Acessar</button>

                <header>

                    <p>Novo na GreenTech?</p>
                    <a href="new-register.html">Crie sua conta.</a>

                    <!-- <a href="#"> <span></span> Novo <br> gerente</a>
                    <a href="#"> <span></span> Novo <br> funcionário</a> --> 

                </header>

            </main>

        </div>

    </div>

</body>

</html>