<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="UTF-8">
  <!-- Linha 7 importante para aplicar a propiedade css @media -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Register</title>

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/new-register.css">
  <link rel="stylesheet" href="/styles/responsive.css">


</head>

<body>

  <div id="page-new-register">

    <header>

      <img src="" alt="Logomarca">
      <a href="#">
        <span></span>
        Voltar para home
      </a>
    </header>

    <form action="">

      <h1>Cadastre-se aqui</h1>

      <fieldset>

        <legend>
          <h2>Informe seus dados</h2>
        </legend>

        <div class="field">
          <label for="user">Nome de Usuário</label>
          <input type="text" name="user">
        </div>

        <!-- <div class="field-group">

          <div class="field">
            <label for="primeiro-nome">Nome</label>
            <input type="text" name="primeiro-nome">
          </div>
          <div class="field">
            <label for="segundo-nome">Sobrenome</label>
            <input type="text" name="segundo-nome">
          </div>

        </div> -->

        <div class="field-group">

          <div class="field">
            <label for="telefone">Telefone</label>
            <input type="tel" name="telefone">
          </div>
          <div class="field">
            <label for="sexo">Genêro</label>
            <select name="sexo">
              <option value="">Selecione um genêro</option>
            </select>
          </div>

        </div>

        <div class="field-group">

          <div class="field">
            <label for="cpf">CPF</label>
            <input type="number" name="cpf">
          </div>
          <div class="field">
            <label for="rg">RG</label>
            <input type="number" name="rg">
          </div>

        </div>

        <div class="field-group">

          <div class="field">
            <label for="email">E-mail</label>
            <input type="email" name="email">
          </div>
          <div class="field">
            <label for="senha">Senha</label>
            <input type="password" name="senha">
          </div>

        </div>

      </fieldset>

      <button type="submit">Novo Gerente</button>
      <button type="submit">Novo Funcionário</button>

    </form>

  </div>

</body>

</html>